
.#figure.tex
GraceFig.tex
GraceFig.tex~
antiprotons.aux
antiprotons.log
antiprotons.nav
antiprotons.out
antiprotons.snm
antiprotons.toc
beam.png
figure.aux
figure.log
figure.nav
figure.out
figure.snm
figure.tex~
figure.toc
notes.txt~
simulation.tex~
todo.txt~
